@{
    ViewBag.Title = "RoleList";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}
<!-- BEGIN PAGE TITLE & BREADCRUMB-->
<ul class="breadcrumb">
    <li><i class="icon-home"></i><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
    <li><a href="#">系统管理</a><i class="icon-angle-right"></i></li>
    <li><a href="#">角色管理</a></li>
</ul>
<!-- END PAGE TITLE & BREADCRUMB-->
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">@Html.Partial("../Home/PartialFacility")</div>
        <div class="tools">
            角色名称：<input type="text" id="txtQName" />
            所在应用：@Html.DropDownList("drplApp", sct.cm.util.HtmlSetter.ListToTreeList(ViewBag.DicApp as List<sct.cm.data.ChooseDictionary>, 1, true))
            是否启用：@Html.DropDownList("drplIsvalid", sct.cm.util.HtmlSetter.EnumToList(typeof(sct.cm.data.EnumSet.EnumBoolen), true))
            <input type="button" id="btnSearch" value="查询" class="btn blue" />
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover table-full-width">
            <thead>
                <tr>
                    <th style="width: 60px;">
                        <input type="checkbox" id='chkSelectAllNone' />全/反</th>
                    <th>角色编码</th>
                    <th>角色名称</th>
                    <th>所在应用</th>
                    <th>是否启用</th>
                    <th>排序</th>
                    <th>更新时间</th>
                </tr>
            </thead>
            </thead>
            <tbody id="datalist">
            </tbody>
        </table>
    </div>
    <div class="portlet-title">
        <div class="caption"></div>
        <div id="pager" class="tools">
        </div>
    </div>
</div>
<script src='@Url.Content("~/Script/Views/SysMgr/RoleList.js" + "?rdm=")' type="text/javascript"></script>
