@{
    ViewBag.Title = "RegionList";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}
<!-- BEGIN PAGE TITLE & BREADCRUMB-->
<ul class="breadcrumb">
    <li><i class="icon-home"></i><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
    <li><a href="#">基础资料管理</a><i class="icon-angle-right"></i></li>
    <li><a href="#">区域设置</a></li>
</ul>
<!-- END PAGE TITLE & BREADCRUMB-->
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">@Html.Partial("../Home/PartialFacility")</div>
        <div class="tools">
            区域名称：
            <input type="text" id="txtQName" class="medium" />
            上级区域：
            @Html.DropDownList("drplRegion", sct.cm.util.HtmlSetter.ListToTreeList(ViewBag.DicRegion as List<sct.cm.data.ChooseDictionary>, 2, true))
            是否启用： 
            @Html.DropDownList("drplIsvalid", sct.cm.util.HtmlSetter.EnumToList(typeof(sct.cm.data.EnumSet.EnumBoolen), true))
            <input type="button" id="btnSearch" value="查询" class="btn blue" />
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover table-full-width">
            <thead>
                <tr>
                    <th style="width: 60px;">
                        <input type="checkbox" id='chkSelectAllNone' />全/反</th>
                    <th>区域编码</th>
                    <th>区域名称</th>
                    <th>板块类型</th>
                    <th>上级名称</th>
                    <th>是否启用</th>
                    <th>排序</th>
                    <th>更新时间</th>
                </tr>
            </thead>
            <tbody id="datalist">
            </tbody>
        </table>
    </div>
    <div class="portlet-title">
        <div class="caption"></div>
        <div id="pager" class="tools">
        </div>
    </div>
</div>
<script src='@Url.Content("~/Script/Views/BasicMgr/RegionList.js" + "?rdm=")' type="text/javascript"></script>
